<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--importerer thymeleaf-->
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    importerer javascript elementer-->
</head>


<body>

<div class="container" style="justify-content: center; display: flex;">

    <div id="div of detruction!" style="justify-content: center; display: flex">
        <h1>This is a website, it is my 10 second attempt at destroying your pc</h1>
        <button onclick="destroy()">Don't click me! React quick if you do!</button>
    </div>
</div>
    <h1> Test Jenkins Line </h1>
<script type="text/javascript">
    function destroy(){

        while (true){
            window.open("https://www.w3schools.com");
            console.log("hey");
        }

    }

</script>
</body>
</html>
